@use "../abstracts/" as *;

.card {
  display: grid;
  overflow: hidden;
  background-color: color(background-primary);
  border-radius: border-radius(sm);

  & .image {
    & img {
      object-fit: contain;
      width: 100%;
    }
  }

  & .header {
    padding-block: spacing(xs);
    padding-inline: spacing(sm);

    &__title {
      font-size: text-size(lg);
      font-weight: font-weight(bold);
    }

    &__company {
      font-size: text-size(sm);
      line-height: line-height(tight);
      font-weight: font-weight(medium);
    }
  }

  & .body {
    & .section {
      padding-block: spacing(xs);
      padding-inline: spacing(sm);
    }
  }
}
