@use "../abstracts/" as *;

.hero {
  background-color: color(accent);
  @include flex-between;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    font-size: text-size(xs);
    font-weight: font-weight(bold);
  }

  &__amount {
    color: color(text-contrast);
    line-height: line-height(tight);
    font-size: text-size(2xl);
    font-weight: font-weight(bold);
    display: flex;
    gap: 3px;
  }

  &__sign {
    padding-top: 2px;
    font-size: text-size(lg);
  }
}
