@use "../abstracts/" as *;

.matches {
  display: grid;
  grid-template-columns: 1fr;
  gap: spacing(lg);

  @media (min-width: breakpoint(md)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: breakpoint(lg)) {
    grid-template-columns: repeat(3, 1fr);
  }
}
