@use "../abstracts/" as *;

.hero {
  &__inner {
    @include flex-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    font-size: text-size(xs);
    font-weight: font-weight(bold);
  }

  &__amount {
    color: color(text-contrast);
    line-height: line-height(tight);
    font-size: text-size(2xl);
    font-weight: font-weight(bold);
    display: flex;
    gap: 3px;
  }

  &__sign {
    padding-top: 2px;
    font-size: text-size(lg);
  }
  background-color: color(accent);
}

a:hover {
  background-color: rgba(color(secondary), 0.7);
}

.section {
  display: flex;
  align-items: center;
  gap: spacing(md);

  &:not(:nth-child(1)) {
    border-top: 1px solid color(secondary);
  }

  &__main {
    display: grid;
  }

  &__title {
    font-weight: font-weight(bold);
    font-size: text-size(sm);
  }

  &__text {
    &:nth-child(1) {
      line-height: line-height(tight);
    }
    font-size: text-size(sm);
  }

  &__text_xs {
    font-size: text-size(xs);
    line-height: line-height(loose);
  }

  &__chevron {
    margin-left: auto;
  }

  &__list {
    list-style-type: "-";
    padding-left: spacing(xs);
  }
}

.footer {
  display: flex;
  gap: spacing(xs);
}
