@use "../abstracts/" as *;

.loader {
  @include animate-rotate;
  border: 3px solid currentColor;
  border-bottom-color: transparent;
  border-radius: border-radius(circle);
  display: inline-block;
  box-sizing: border-box;
}
