@use "./variables" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin container($max-width: 1200px) {
  margin: 0 auto;
  max-width: $max-width;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin animate-rotate {
  animation: rotation 1s linear infinite;
}

@mixin skeleton-animation {
  background: $skeleton-gradient;
  background-size: 200% 100%;
  animation: skeleton-animation $skeleton-animation-duration infinite linear;
}

@keyframes skeleton-animation {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
