@use "../../abstracts/" as *;

.header {
  background-color: color(background-contrast);

  &__inner {
    @include container;
    @include flex-between;
    padding-inline: spacing(sm);
    padding-block: spacing(md);
    color: color(text-contrast);
  }

  &__error {
    color: color(danger);
    font-size: text-size(xs);
  }
}
